@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>ASP.NET Projeto Montreal</h1>
    <p><a class="btn btn-default" href="https://www.montreal.com.br">saiba sobre a empresa &raquo;</a></p>
</div>
